<div style = "text-align: center" >
<style>
    table #11 {
      border-collapse: collapse;
      width: 60%;
  }
  
  td, th {
      border: 1px solid #bbbbbb;
      text-align: center;
      padding: 8px;
  }
  
</style>



<table styleid=11 align = "center">
      <caption>
          <strong> Full Book Details </strong>
      </caption>


      <tr>
          <th> Name </th>
          <th> Author </th>
          <th> No of Pages </th>
          <th> Price </th>
      </tr>

         <tr *ngFor = "let value of book" styleid = 11>
      
          <td>{{value.name}}</td>
          <td>{{value.author}}</td>
          <td>{{value.pages}}</td>
          <td>{{value.price}}</td>
      
         </tr>

</table>



  </div>